{% extends 'pedia/base.html' %}
{% load bootstrap5 %}

{% block header %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-12">
                <a class="my-3 text-dark text-decoration-none" href="{% url 'pedia:topic' topic.id %}"><h3>{{ topic.title }}</h3></a>
            </div>
        </div>
    </div>
{% endblock header %}

{% block content %}

        <h5 class="text-muted m-3">Edit this entry here</h5>
        <form class="form m-3" action="{% url 'pedia:edit_entry' entry.id %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button class="btn btn-primary" name="submit">Edit</button>
        </form>

{% endblock content %}