{% extends 'pedia/base.html' %}

{% block header %}

    <div class="container p-3">
        <div class="row">
            <div class="col-md-6 col-lg-12">
                <h2>{{topic.title}}</h2>
            </div>
            <div class="col-md-6 col-lg-12 my-4">
                <a class="btn btn-outline-primary" href="{% url 'pedia:add_entry' topic.id %}">Add a new entry</a>
            </div>
        </div>
    </div>

{% endblock header %}

{% block content %}

    <section class="container">
            {% for entry in entries %}
                <div class="accordion my-2" id="accordionEntry">
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="#accordionOne">
                            <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                {{ entry.title }}
                            </button>
                        </h3>
                        <div class="accordion-collapse collapse show" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionEntry">
                            <div class="accordion-body">
                                <p>{{ entry.description|linebreaks}}</p>
                                <a class="btn btn-sm btn-outline-primary" href="{% url 'pedia:edit_entry' entry.id %}">Edit entry</a>
                            </div>

                        </div>
                    </div>
                </div>
            {% endfor %}


    </section>


{% endblock content %}